
/*  Align to left*/
section#products div.items{
    display: block;
    padding-left: 1rem;
}
#products .items .item {
    display: flex;
    text-align: left;
}
#products .items .item h3{
    text-align: left;
}

#products .items .item i{
    margin-right: 1.2rem;
    align-self: center;
    margin-bottom: 0;
}

@media (max-width: 500px){
    div#nav{
        display: block;
        flex-direction: column;
        /* align-items: center;
        justify-content: center; */
    }
    div#nav ul {
       justify-content: center;
      }
      div#nav ul li a {
        padding: 1.2rem;
      }  
    


      /* Why */

#why .why-img{
    display: none;
}

#why .why-text{
    width: 100%;
}


/* LOGOS */
#logos .logos-badges .image:last-child{
    display: none;
}


div.image{
   height: 60%;
   margin: 0;
  }


  /* CONTACT */
  #contact{
      display: block;
  }

  #contact .map{
      height: 250px;
  }

/* section#contact div.contact-form{
      order: 2;
  }
section#contact div.map{
    order: 1;

} */

.l-heading{
    font-size: 3rem;
}

}


